@media (min-width: 800px) {

    .favorites {
        box-sizing: border-box;
        border: 1px solid rgba(0, 8, 7);
        padding: 30px 20px;
        margin-right: 1.5vw;
    }

    .favorites__name {
        box-sizing: border-box;
        width: 100%;
        font-size: 16px;
        padding: 5px 10px;
        border: 1px solid rgba(0, 8, 7, .5);
        margin-bottom: 24px;
    }

    .favorites__list--item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 22px;
        margin-bottom: 10px;
    }

    .favorites__list--delete {
        margin-top: 2px;
        background:none;
        border: none;
        outline: none;
    }

    .favorites__list {
        margin-bottom: 24px;
    }

    button {
        margin-left: 5px;
    }

    .favorites__save {
        border: none;
        background-color: #496DDB;
        padding: 10px 15px;
        color: #FFEEDB;
        font-size: 14px;
        transition: all 0.2s linear;
    }

    .favorites__save:disabled {
        background-color: grey;
    }

    .favorites__save:hover {
        cursor: pointer;
        opacity: 0.9;
        transition: all 0.2s linear;
    }

    .link__none {
        display: none;
    }

    .link__block {
        display: block;
        color: red;
    }
}


@media (min-width: 360px) and (max-width: 800px) {
    .favorites {
        width: 55.86592vw;
        box-sizing: border-box;
        border: 1px solid rgba(0, 8, 7);
        padding: 30px 20px;
        margin-right: 1.5vw;
        margin: auto;
    }

    .favorites__name {
        box-sizing: border-box;
        width: 100%;
        font-size: 16px;
        padding: 5px 10px;
        border: 1px solid rgba(0, 8, 7, .5);
        margin-bottom: 24px;
    }

    .favorites__list--item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 4.02122vw;
        margin-bottom: 10px;
    }

    .favorites__list--delete {
        margin-top: 2px;
        width: 15px;
        height: 15px;
        background:none;
        border: none;
        outline: none;
    }

    .favorites__list {
        margin-bottom: 24px;
    }

    button {
        margin-left: 5px;
    }

    .favorites__save {
        border: none;
        background-color: #496DDB;
        padding: 10px 15px;
        color: #FFEEDB;
        font-size: 14px;
        transition: all 0.2s linear;
    }

    .favorites__save:disabled {
        background-color: grey;
    }

    .favorites__save:hover {
        cursor: pointer;
        opacity: 0.9;
        transition: all 0.2s linear;
    }

    .link__none {
        display: none;
    }

    .link__block {
        display: block;
        color: red;
    }
}